{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended"
    ],
    "rules": {
        "semi": "warn",
        "indent": ["warn", 4],
        "no-multi-spaces": "warn",
        "quotes": "warn"
    }
}